aiohttp==3.9.5
aiohttp-proxy==0.1.2
aiosignal==1.3.1
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.2.0
better-proxy==1.1.5
blinker==1.8.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
Flask==3.0.3
frozenlist==1.4.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
loguru==0.7.2
MarkupSafe==3.0.1
multidict==6.0.5
pyaes==1.6.1
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
Pygments==2.18.0
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
qrcode==7.3.1
rich==12.5.1
TgCrypto==1.2.5
typing_extensions==4.11.0
Werkzeug==3.0.4
win32-setctime==1.1.0
yarl==1.9.4
pytz
tenacity